{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Alireza Yoonesi",
  "alternateName": [
    "علیرضا یونسی",
    "Alireza Younesi",
    "Ali Reza Yoonesi",
    "Ali Reza Younesi",
    "AYoonesi",
    "Alireza Yoonesi | علیرضا یونسی"
  ],
  "url": "https://ayoonesi.ir",
  "sameAs": [
    "https://github.com/ayoonesi",
    "https://medium.com/@ayoonesi",
    "https://sciences.social/@ayoonesi",
    "https://en.ayoonesi.ir",
    "https://fa.ayoonesi.ir",
    "https://virgool.io/@AYoonesi",
    "https://linkedin.com/in/AYoonesi",
    "https://scholar.google.com/citations?user=k8utD4MAAAAJ"
  ],
  "jobTitle": "Legal Researcher",
  "knowsAbout": [
    "Private Law",
    "International Trade Law",
    "Legal Research",
    "Philosophy",
    "Kant"
  ]
}
</script>